@import "tailwindcss";
@import "./assets/theme/colors.css";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--color-background);
}

body {
    margin: 0;
    min-height: 100vh;
}

@utility dashboard-heading {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    vertical-align: middle;
}