@import "tailwindcss";
@import "./assets/theme/colors.css";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--color-background);
}

body {
    margin: 0;
    min-height: 100vh;
}

@utility heading-bold {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
}

@utility text-normal {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
}

@utility text-normal-sm {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
}

@utility dashboard-heading {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
}